* {
	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 0;
}

html {
	background-color: #FFFFFF;
}

.message-container {
	width: 100%;
}

.message-container table {
	width: 100%;
}

.message-container td {
	color: #000000;
	font-size: 1.5rem;
}

p {
	color: #000000;
	font-size: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
