/* Main */

.pace {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-pointer-events: none;
	-webkit-user-select: none;
	pointer-events: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #2299DD;
	height: 0.15rem;
	position: absolute;
	right: 100%;
	top: 0;
	width: 100%;
	z-index: 2000;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

html {
	overflow-x: hidden;
}

/* Header */

.header {
	height: 100vh;
	width: 5rem;
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.header a {
	color: white;
	text-decoration: none;
}

.header img {
	width: 5rem;
	position: absolute;
	bottom: 0;
}

.header img:hover {
	cursor: pointer;
}

.header ul {
	color: white;
	list-style-type: none;
	width: 5rem;
	position: absolute;
	top: 0;
	left: 0;
}

.header li {
	width: 5rem;
	height: 3.5rem;
	font-size: 2rem;
	text-align: center;
	padding-top: 1.25rem;
	transition: all .2s ease-in-out;
}

.header li:hover {
	background-color: rgba(255, 255, 255, .2);
}

.header-dropdown {
	height: 0;
	width: 5rem;
	background-color: rgba(255, 255, 255, .2);
	position: fixed;
	bottom: 5rem;
	left: 0;
	overflow: hidden;
	transition: all ease-in-out .2s;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.header-dropdown ul {
	color: white;
	list-style-type: none;
	height: 10rem;
	width: 5rem;
	position: absolute;
	top: 0;
	left: 0;
}

.header-dropdown li {
	width: 5rem;
	height: 3.5rem;
	font-size: 2rem;
	text-align: center;
	padding-top: 1.25rem;
	transition: all .2s ease-in-out;
}

.header-dropdown li:hover {
	background-color: rgba(255, 255, 255, .2);
}

.header-dropdown a {
	color: white;
	text-decoration: none;
}

.active {
	background-color: rgba(50, 50, 50, .2);
}

/* Home */

.home-container {
	background-color: rgba(25, 25, 25, 1);
	width: 100vw;
	min-height: 100vh;
}

.home-hero {
	background-color: white;
	width: calc(100vw - 5rem);
	height: 12rem;
	margin-left: 5rem;
	position: relative;
	background-image: url('../img/background.jpg');
	background-size: cover;
}

.home-hero-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .75);
}

.home-hero img {
	margin-left: calc(50% - 2.5rem);
	padding-top: 2rem;
	height: 5rem;
}

.home-hero h1 {
	color: white;
	font-size: 2rem;
	text-align: center;
	text-shadow: 2px 2px black;
	padding-top: .5rem;
}

.home-about {
	background-color: rgba(200, 200, 200, 1);
	width: calc(100vw - 5rem);
	min-height: 1rem;
	margin-left: 5rem;
	padding-bottom: 2rem;
}

.home-about h1 {
	font-size: 2rem;
	padding-left: 1rem;
	padding-top: 1rem;
	font-variant: small-caps;
	text-align: center;
}

.home-about p {
	font-size: 1.25rem;
	color: black;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.home-about-lowerbg {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 3rem;
	background-color: rgba(200, 200, 200, 1);
}

.home-skills {
	background-color: white;
	width: 80%;
	height: 31rem;
	margin-left: 10%;
	margin-top: -2rem;
	-webkit-box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.75);
}

.home-skills h1 {
	font-size: 1.5rem;
	padding-left: 1rem;
	padding-top: 1rem;
}

.home-skills h2 {
	font-size: 1.25rem;
	padding-left: 1rem;
	padding-top: 1rem;
}

.skill-bg {
	width: calc(100% - 2rem);
	height: 2rem;
	background-color: rgba(50, 50, 50, 1);
	margin-left: 1rem;
	border-radius: 6px;
}

.skill-actual {
	height: 2rem;
	background-color: limegreen;
	border-radius: 6px;
}

.skill-actual p {
	font-size: 1.5rem;
	color: black;
	text-align: center;
}

.home-about-lower {
	background-color: white;
	width: calc(100vw - 5rem);
	margin-left: 5rem;
	padding-bottom: 2rem;
	position: relative;
}

.home-gallery {
	padding-top: 30rem;
}

.home-gallery h1 {
	font-size: 2rem;
	padding-left: 1rem;
	padding-top: 1rem;
	font-variant: small-caps;
	text-align: center;
}

.home-gallery-container {
	min-height: 1rem;
	width: 80%;
	margin-left: 10%;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding-top: 1rem;
}

.home-gallery-card {
	width: 32%;
	transition: all .2s ease-in-out;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.75);
}

.home-gallery-card:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.75);
}

.home-gallery-card img {
	margin-top: .25rem;
	width: 100%;
}

.not-left {
	margin-left: 1rem;
}

.bottom-padding {
	padding-bottom: 2rem;
}

/* Footer */

footer {
	width: calc(100vw - 5rem);
	margin-left: 5rem;
	height: 5rem;
	background-color: black;
}

footer h1 {
	color: white;
	font-size: 1.25rem;
	font-weight: 300;
	text-align: center;
	padding-top: 1.5rem;
}
