/* Main */

.pace {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-pointer-events: none;
	-webkit-user-select: none;
	pointer-events: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #2299DD;
	height: 0.15rem;
	position: fixed;
	right: 100%;
	top: 4rem;
	width: 100%;
	z-index: 2000;
}

* {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
}

html {
	overflow-x: hidden;
}

.hidden {
	display: none;
}

/* Header */

.header {
	background-color: white;
	height: 4rem;
	width: 100vw;
	border-bottom: .15rem solid rgba(225,225,225,1);
	position: fixed;
	top: 0;
	z-index: 4;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.header img {
	width: 3rem;
	height: 3rem;
	padding-left: 2rem;
	padding-top: .5rem;
}

.header .left {
	position: absolute;
	top: 0;
	left: 5.5rem;
	padding-top: 1.25rem;
}

.header .right {
	position: absolute;
	top: 0;
	right: 2rem;
	padding-top: 1.25rem;
}

.header .right ul {}

.header li {
	display: inline;
	font-size: 1.25rem;
	font-weight: 300;
	padding-left: .25rem;
	padding-right: .25rem;
	padding-bottom: 1.15rem;
	list-style-type: none;
}

.header li a {
	color: black;
	transition: all ease-in-out .2s;
}

.header li a:hover {
	color: dodgerblue;
	cursor: pointer;
}

.active {
	border-bottom: .3rem solid dodgerblue;
}

/* Container */

.content-container {
	min-height: 100vh;
	width: 100vw;
}

.about-container { 
	padding-top: 7rem;
	padding-bottom: 2rem;
	padding-left: 10%;
	padding-right: 10%;
}

.about-container h2 {
	font-variant: small-caps;
	font-size: 2rem;
	color: black;
	font-weight: 200;
	text-align: center;
}

.about-container h1 {
	color: black;
	text-align: center;
	font-size: 3.5rem;
	font-weight: 300;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.about-container h1 #typewriter {
	font-weight: 500;
}

.about-container .about-languages {
	padding-top: 3rem;
	padding-bottom: 3rem;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: center;
	justify-content: center;
}

.about-container .about-languages img {
	height: 6.5rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	object-fit: fill;
	filter: grayscale(90%);
	transition: all .2s ease-in-out;
}

.about-container .about-languages img:hover {
	filter: grayscale(0%);
	cursor: pointer;
}

.about-description {
	padding-top: 3rem;
}

.about-container p {
	font-weight: 200;
	font-size: 1.25rem;
	text-indent: 2rem;
}

/* Mobile Support */

@media only screen and (max-width: 1000px) {
}
