/* Main */

.pace {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-pointer-events: none;
	-webkit-user-select: none;
	pointer-events: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #2299DD;
	height: 0.15rem;
	position: fixed;
	right: 100%;
	top: 0;
	width: 100%;
	z-index: 2000;
}

* {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
}

html {
	overflow-x: hidden;
}

.hidden {
	display: none;
}

.page-divider {
	width: 100vw;
	height: 1rem;
	background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09C09C, #F44F44);
	position: relative;
	z-index: 2;
}

*:focus {
	outline: 1px solid #000000;
}

*::placeholder {
	color: #AAAAAA;
}

/* Header */

.header {
	width: 100vw;
	height: 7rem;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	overflow: hidden;
}

.header img {
	width: 7rem;
	height: 7rem;
	margin-left: calc(50vw - 7rem / 2);
}

.header .navbar-left {
	width: calc(50vw - 5rem);
	margin-top: -7rem;
	height: 7rem;
	text-align: right;
}

.header .navbar-right {
	width: calc(50vw - 5rem);
	margin-top: -7rem;
	margin-left: calc(50vw + 5rem);
	height: 7rem;
	text-align: left;
}

.header li {
	font-size: 1.5rem;
	font-weight: 300;
	display: inline-block;
	margin-left: 1rem;
	margin-right: 1rem;
	padding-top: 2.25rem;
	padding-bottom: 0.25rem;
}

.header li a {
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 2.25rem;
	padding-bottom: 2.5rem;
	transition: color ease-in-out 0.2s;
}

.header li a:hover {
	color: #CCCCCC;
}

.active {
	border-bottom: 0.1rem solid #FFFFFF;
	transition: border-bottom ease-in-out 0.2s;
}

.active:hover {
	border-bottom: 0.1rem solid #CCCCCC;
}

/* Home */

.home-container .home-hero {
	width: 100vw;
	min-height: 50rem;
	margin-top: -7rem;
	position: relative;
}

.home-container .home-hero img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	object-fit: cover;
	z-index: 1;
}

.home-container .home-hero .home-hero-overlay {
	width: 100%;
	min-height: 48rem;
	padding-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.75);
	position: relative;
	z-index: 2;
}

.home-container .home-hero .home-hero-overlay h1 {
	color: #FFFFFF;
	font-size: 5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding-top: 22rem;
	text-align: center;
}

.home-container .home-hero .home-hero-overlay p {
	color: #CCCCCC;
	font-size: 3rem;
	font-weight: 300;
	padding-top: 1rem;
	text-align: center;
}

.home-container .home-hero .home-hero-overlay h2 {
	color: #FFFFFF;
	font-size: 2rem;
	font-weight: 300;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	border: 0.1rem solid #FFFFFF;
	width: 12rem;
	margin-top: 8rem;
	margin-left: calc(50vw - 12rem / 2);
	border-radius: calc(12rem / 2);
	transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
}

.home-container .home-hero .home-hero-overlay h2:hover {
	color: #000000;
	background-color: #FFFFFF;
	cursor: pointer;
}

.home-container .home-about {
	width: 100vw;
	min-height: 1rem;
	background-color: rgba(25, 25, 25, 1);
	position: relative;
	z-index: 2;
}

.home-container .home-about h1 {
	color: #FFFFFF;
	font-size: 3rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 1rem;
}

.home-container .home-about p {
	color: #CCCCCC;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 5rem;
	margin-left: 10%;
	margin-right: 10%;
}

.home-container .home-socials {
	width: 100vw;
	min-height: 1rem;
	background-color: rgba(35, 35, 35, 1);
	position: relative;
	z-index: 2;
}

.home-container .home-socials h1 {
	color: #FFFFFF;
	font-size: 3rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 1rem;
}

.home-container .home-socials ul {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 5rem;
}

.home-container .home-socials li {
	font-size: 3rem;
	display: inline-block;
	margin-left: 1rem;
	margin-right: 1rem;
}

.home-container .home-socials .fa-github {
	color: #6F42C1;
	border: 0.2rem solid #6F42C1;
	border-radius: 3rem;
	padding: 1rem;
	transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
}

.home-container .home-socials .fa-github:hover {
	color: #FFFFFF;
	background-color: #6F42C1;
}

.home-container .home-socials .fa-twitter {
	color: #1DA1F2;
	border: 0.2rem solid #1DA1F2;
	border-radius: 3rem;
	padding: 1rem;
	transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
}

.home-container .home-socials .fa-twitter:hover {
	color: #FFFFFF;
	background-color: #1DA1F2;
}

.home-container .home-socials .fa-instagram {
	color: #FFA500;
	border: 0.2rem solid #FFA500;
	border-radius: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
}

.home-container .home-socials .fa-instagram:hover {
	color: #FFFFFF;
	background-color: #FFA500;
}

/* Page */

.page-container .page-hero {
	width: 100vw;
	min-height: 35rem;
	margin-top: -7rem;
	position: relative;
}

.page-container .page-hero img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	object-fit: cover;
	z-index: 1;
}

.page-container .page-hero .page-hero-overlay {
	width: 100%;
	min-height: 35rem;
	padding-bottom: 2rem;
	background-color: rgba(0, 0, 0, 0.75);
	position: relative;
	z-index: 2;
}

.page-container .page-hero .page-hero-overlay h1 {
	color: #FFFFFF;
	font-size: 5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding-top: 22rem;
	text-align: center;
}

.page-container .page-hero .page-hero-overlay p {
	color: #CCCCCC;
	font-size: 3rem;
	font-weight: 300;
	padding-top: 1rem;
	text-align: center;
}

.page-container .page-hero .page-hero-overlay h2 {
	color: #FFFFFF;
	font-size: 2rem;
	font-weight: 300;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	border: 0.1rem solid #FFFFFF;
	width: 12rem;
	margin-top: 8rem;
	margin-left: calc(50vw - 12rem / 2);
	border-radius: calc(12rem / 2);
	transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
}

.page-container .page-hero .page-hero-overlay h2:hover {
	color: #000000;
	background-color: #FFFFFF;
	cursor: pointer;
}

/* About */

.page-container .about-container {
	width: 100vw;
	min-height: calc(100vh - 34.5rem);
	background-color: rgba(25, 25, 25, 1);
	position: relative;
	z-index: 2;
}

.page-container .about-container h1 {
	color: #FFFFFF;
	font-size: 3rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.page-container .about-container .about-summary p {
	color: #CCCCCC;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.page-container .about-container .about-languages {
	padding-top: 3rem;
	padding-bottom: 3rem;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: center;
	justify-content: center;
}

.page-container .about-container .about-languages img {
	height: 7rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	object-fit: fill;
	filter: grayscale(90%);
	transition: all 0.2s ease-in-out;
}

.page-container .about-container .about-languages img:hover {
	filter: grayscale(0%);
	cursor: pointer;
}

.page-container .about-container .about-timeline {
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-left: 10%;
	margin-right: 10%;
}

.page-container .about-container .about-timeline .about-timeline-benchmarks {
	min-height: 1rem;
	position: relative;
	margin-bottom: 3rem;
}

.page-container .about-container .about-timeline .about-timeline-benchmarks .about-timeline-line {
	width: 0.3rem;
	height: calc(100% - 4rem);
	background-color: #FFFFFF;
	border-radius: 0.15rem;
	position: absolute;
	top: 3rem;
	left: 5rem;
}

.page-container .about-container .about-timeline .about-timeline-benchmark {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.page-container .about-container .about-timeline .about-timeline-benchmark h1 {
	font-size: 1.75rem;
}

.page-container .about-container .about-timeline .about-timeline-benchmark p {
	color: #CCCCCC;
	font-size: 1.25rem;
	font-weight: 400;
	margin-left: 6.5rem;
	margin-top: -1.75rem;
}

.page-container .about-container .about-timeline .about-timeline-benchmark b {
	color: #FFFFFF;
}

.page-container .about-container .about-timeline .about-timeline-benchmark .timeline-cricle {
	background-color: #FFFFFF;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	margin-left: 4.2rem;
	margin-top: -2.15rem;
	border: 0.5rem solid rgba(25, 25, 25, 1);
	position: relative;
	z-index: 3;
}

/* Projects */

.page-container .projects-container {
	min-height: calc(100vh - 34.5rem);
	background-color: rgba(25, 25, 25, 1);
	position: relative;
	z-index: 2;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

/* Contact */

.page-container .contact-container {
	min-height: calc(100vh - 34.5rem);
	background-color: rgba(25, 25, 25, 1);
	position: relative;
	z-index: 2;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.page-container .contact-container input[type=text] {
	color: #FFFFFF;
	font-size: 1.5rem;
	width: 100%;
	border: none;
	padding: 0.25rem;
	background-color: rgba(35, 35, 35, 1);
	font-weight: 300;
}

.page-container .contact-container p {
	font-size: 1.5rem;
	color: #FFFFFF;
	padding-top: 1rem;
	font-weight: 300;
}

.page-container .contact-container .first-name p {
	font-size: 1.5rem;
	color: #FFFFFF;
	padding-top: 0;
	padding-bottom: 1rem;
}

.page-container .contact-container .last-name p {
	font-size: 1.5rem;
	color: #FFFFFF;
	padding-top: 0;
	padding-bottom: 1rem;
}

.page-container .contact-container .first-name {
	width: calc(50% - 1rem);
}

.page-container .contact-container .last-name {
	width: calc(50% - 1rem);
	margin-left: calc(50% + 1rem);
	margin-top: -5.15rem;
}

.page-container .contact-container input[name=email] {
	margin-top: 1rem;
}

.page-container .contact-container textarea[name=message] {
	color: #FFFFFF;
	margin-top: 1rem;
	height: 10rem;
	width: 100%;
	font-size: 1.5rem;
	padding: 0.25rem;
	background-color: rgba(35, 35, 35, 1);
	border: none;
	font-weight: 300;
}

.page-container .contact-container input[name=submit] {
	color: #FFFFFF;
	font-size: 1.5rem;
	margin-top: 3rem;
	width: 100.5%;
	padding: 0;
	border: none;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: rgba(35, 35, 35, 1);
	transition: background-color ease-in-out 0.2s;
	font-weight: 400;
}

.page-container .contact-container input[name=submit]:hover {
	background-color: rgba(50, 50, 50, 1);
	cursor: pointer;
}

/* Footer */

footer {
	background-color: rgba(15, 15, 15, 1);
	min-height: 1rem;
	position: relative;
	z-index: 2;
}

footer h1 {
	color: #CCCCCC;
	font-size: 1.25rem;
	font-weight: 300;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: 10%;
	margin-right: 10%;
}

/* Mobile Support */

/*
@media only screen and (max-width: 1000px) {
}
*/
