/* Main */

.pace {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-pointer-events: none;
	-webkit-user-select: none;
	pointer-events: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #2299DD;
	height: 0.15rem;
	position: absolute;
	right: 100%;
	top: 0;
	width: 100%;
	z-index: 2000;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

html {
	overflow-x: hidden;
}

/* Header */

.header {
	height: 100vh;
	width: 5rem;
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.header a {
	color: white;
	text-decoration: none;
}

.header img {
	width: 5rem;
	position: absolute;
	bottom: 0;
}

.header img:hover {
	cursor: pointer;
}

.header ul {
	color: white;
	list-style-type: none;
	width: 5rem;
	position: absolute;
	top: 0;
	left: 0;
}

.header li {
	width: 5rem;
	height: 3.5rem;
	font-size: 2rem;
	text-align: center;
	padding-top: 1.25rem;
	transition: all .2s ease-in-out;
}

.header li:hover {
	background-color: rgba(255, 255, 255, .2);
}

.header-dropdown {
	height: 0;
	width: 5rem;
	background-color: rgba(255, 255, 255, .2);
	position: absolute;
	bottom: 5rem;
	left: 0;
	overflow: hidden;
	transition: all ease-in-out .2s;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.header-dropdown ul {
	color: white;
	list-style-type: none;
	height: 10rem;
	width: 5rem;
	position: absolute;
	top: 0;
	left: 0;
}

.header-dropdown li {
	width: 5rem;
	height: 3.5rem;
	font-size: 2rem;
	text-align: center;
	padding-top: 1.25rem;
	transition: all .2s ease-in-out;
}

.header-dropdown li:hover {
	background-color: rgba(255, 255, 255, .2);
}

.header-dropdown a {
	color: white;
	text-decoration: none;
}

.active {
	background-color: rgba(50, 50, 50, .2);
}

/* Home */

.home-container {
	background-color: rgba(25, 25, 25, 1);
	width: 100vw;
	min-height: 100vh;
	padding-bottom: 5rem;
}

.home-hero {
	background-color: white;
	width: calc(100vw - 15rem);
	height: 20rem;
	margin-left: 10rem;
	position: relative;
	top: 5rem;
	background-image: url('../img/background.jpg');
	background-size: cover;
}

.home-hero img {
	margin-left: calc(50% - 5rem);
	padding-top: 2rem;
	height: 10rem;
}

.home-hero h1 {
	color: white;
	font-size: 3rem;
	text-align: center;
	text-shadow: 2px 2px black;
	padding-top: 2rem;
}

.home-skills {
	background-color: white;
	width: calc(100vw - 15rem);
	height: 31rem;
	margin-left: 10rem;
	margin-top: 10rem;
}

.home-skills h1 {
	font-size: 1.5rem;
	padding-left: 1rem;
	padding-top: 1rem;
}

.home-skills h2 {
	font-size: 1.25rem;
	padding-left: 1rem;
	padding-top: 1rem;
}

.skill-bg {
	width: calc(100% - 2rem);
	height: 2rem;
	background-color: rgba(50, 50, 50, 1);
	margin-left: 1rem;
	border-radius: 6px;
}

.skill-actual {
	height: 2rem;
	background-color: limegreen;
	border-radius: 6px;
}

.skill-actual p {
	font-size: 1.5rem;
	color: black;
	text-align: center;
}
