/* Main */

.pace {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-pointer-events: none;
	-webkit-user-select: none;
	pointer-events: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #2299DD;
	height: 0.15rem;
	position: fixed;
	right: 100%;
	top: 5rem;
	width: 100%;
	z-index: 99999;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

html {
	overflow-x: hidden;
}

.hidden {
	display: none;
}

/* Header */

.header {
	height: 5rem;
	width: 100vw;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.header h1 {
	color: white;
	padding-left: 1rem;
	padding-top: .8rem;
	font-size: 2rem;
	font-variant: small-caps;
	font-weight: 300;
}

.header h1 a {
	color: white;
	text-decoration: none;
	transition: all .2s ease-in-out;
}

.header h1 a:hover {
	color: #CCCCCC;
}

.header ul {
	color: #CCCCCC;
	position: absolute;
	top: 1.5rem;
	right: 2rem;
}

.header li {
	display: inline;
	padding: .5rem;
	font-size: 1.25rem;
	font-weight: 300;
	font-variant: small-caps;
	transition: all .2s ease-in-out;
}

.header li a {
	color: #CCCCCC;
	text-decoration: none;
	transition: all .2s ease-in-out;
}

.header li a:hover {
	color: white;
}

/* Home */

.home-container {
	width: 100vw;
	min-height: 100%;
	margin-top: 5rem;
	background-color: rgba(25,25,25,1);
}

.home-introduction-container {
	width: 100vw;
	min-height: 1%;
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: rgba(10,10,10,1);
}

.home-introduction-container h1 {
	color: white;
	position: relative;
	top: -30rem;
	left: calc(50vw + 5rem);
	font-weight: 300;
	font-size: 2rem;
}

.home-introduction-container h2 {
	color: white;
	position: relative;
	top: -30rem;
	left: calc(50vw + 5rem);
	font-weight: 300;
	font-size: 1.5rem;
	font-variant: small-caps;
}

.description-container {
	border-top: 2px solid white;
	color: white;
	position: relative;
	top: -29rem;
	left: calc(50vw + 5rem);
	font-weight: 300;
	font-size: 1.25rem;
	width: 40%;
}

.description-container p {
	padding-top: 1rem;
}

.home-introduction-container img {
	width: 30rem;
	padding-left: calc(30vw - 15rem);
}

.home-introduction-container ul {
	width: 30rem;
	text-align: center;
	padding-left: calc(30vw - 15rem);
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	margin-top: -15rem;
}

.home-introduction-container li {
	color: white;
	display: inline-block;
	font-size: 1.2rem;
}

.home-introduction-container li:hover {
	cursor: pointer;
}

.home-servers-container {
	width: 100vw;
	min-height: 1rem;
	background-color: rgba(100, 0, 0, 1);
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.home-servers-container h1 {
	color: white;
	font-size: 2.5rem;
	font-variant: small-caps;
	padding-left: 10%;
}

.home-servers-options-flex {
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: stretch;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-left: 10%;
	padding-top: 3rem;
}

.home-server {
	width: 20rem;
	min-height: 1rem;
	background-color: rgba(15,15,15,1);
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.server-margin {
	margin-left: 2rem;
}

.home-server-title {
	background-color: black;
}

.home-server-title img {
	width: 10rem;
	margin-left: calc(50% - 25%);
	height: 10rem;
	object-fit: fill;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.home-server h1 {
	font-size: 1.25rem;
	text-align: center;
	background-color: rgba(35,35,35,1);
	font-variant: normal;
	padding: 1rem;
	color: #ffff;
}

.home-connect-button {
	font-size: 1.5rem;
	background-color: limegreen;
	font-variant: normal;
	color: white;
	text-align: center;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 4px;
	transition: all .2s ease-in-out;
}

.home-connect-button:hover {
	background-color: #228B22;
}

.home-connect-button a {
	color: white;
	text-decoration: none;
}

.home-player-count {
	width: 90%;
	height: 1rem;
	margin-left: 5%;
	background-color: black;
	text-align: center;
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: .75rem;
	margin-top: 1rem;
	border-radius: 8px;
	color: #cccc;
	position: relative;
	overflow: hidden;
}

.home-player-bar {
	background-color: rgba(35,35,35,1);
	height: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 8px;
}

.home-player-count h2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.home-discord {
	width: 100vw;
	background-color: rgba(15,15,15,1);
	height: 31rem;
}

.home-discord iframe {
	height: 25rem;
	width: 30vw;
	padding-top: 3rem;
	padding-bottom: 2rem;
	padding-left: 10vw;
}

.connect-container {
	position: relative;
	left: 45vw;
	top: -25rem;
	width: 45vw;
	text-align: center;
}

.home-discord h1 {
	color: white;
	font-weight: 400;
	margin-top: 5rem;
}

.home-discord a {
	color: white;
	background-color: rgba(150,0,0,1);
	padding: 1rem;
	text-decoration: none;
	transition: all .2s ease-in-out;
}

.home-discord a:hover {
	background-color: rgba(200,0,0,1);
}

.discord-button {
	font-size: 1.25rem;
	font-weight: 400;
	width: 15rem;
	text-align: center;
	margin-left: calc(45vw / 2 - 7.5rem);
	margin-top: 2rem;
}

.home-steam-statistics {
	width: 100vw;
	min-height: 1rem;
	background-color: rgba(100,0,0,1);
}

.home-steam-statistics h1 {
	color: white;
	font-size: 2rem;
	text-align: center;
	font-weight: 300;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.steam-stats-container {
	position: relative;
}

.steam-online-players {
	width: 33.6vw;
	height: 7rem;
}

.steam-online-players h2 {
	color: white;
	text-align: center;
	font-size: 1.75rem;
	font-weight: 400;
}

.steam-online-players p {
	color: white;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 200;
}

.steam-ig-players {
	width: 33.6vw;
	height: 7rem;
	margin-left: 33vw;
	position: absolute;
	top: 0;
}

.steam-ig-players h2 {
	color: white;
	text-align: center;
	font-size: 1.75rem;
	font-weight: 400;
}

.steam-ig-players p {
	color: white;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 200;
}

.steam-all-players {
	width: 33.6vw;
	height: 7rem;
	margin-left: 66vw;
	position: absolute;
	top: 0;
}

.steam-all-players h2 {
	color: white;
	text-align: center;
	font-size: 1.75rem;
	font-weight: 400;
}

.steam-all-players p {
	color: white;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 200;
}

/* Footer */

footer {
	width: 100vw;
	min-height: 1rem;
	background-color: black;
	padding-bottom: 1rem;
	position: relative;
}

footer h1 {
	color: white;
	font-size: 2.5rem;
	font-weight: 300;
	padding-top: 1rem;
	padding-left: 2rem;
	font-variant: small-caps;
}

footer p {
	color: white;
	font-size: 1.15rem;
	font-weight: 300;
	padding-left: 2rem;
}

footer a {
	color: gold;
	text-decoration: none;
	transition: all .2s ease-in-out;
}

footer a:hover {
	color: rgba(225, 185, 0, 1);
}

.footer-left-container {
	width: 50vw;
}

.footer-right-container {
	width: 50vw;
	left: 50vw;
	position: absolute;
	top: 0;
}

.footer-right-container ul {
	list-style-type: none;
	position: absolute;
	right: 2vw;
	top: 2.5rem;
}

.footer-right-container li {
	width: 3rem;
	height: 2.5rem;
	border-radius: 50%;
	color: rgba(200,0,0,1);
	border: 2px solid rgba(200,0,0,1);
	text-align: center;
	font-size: 1.5rem;
	padding-top: .5rem;
	display: inline-block;
	margin-left: 1rem;
	transition: all .2s ease-in-out;
}

.footer-right-container li:hover {
	width: 3rem;
	height: 2.5rem;
	border-radius: 50%;
	color: black;
	background-color: rgba(200,0,0,1);
	text-align: center;
	font-size: 1.5rem;
	padding-top: .5rem;
	display: inline-block;
}
