/* Main */

.pace {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-pointer-events: none;
	-webkit-user-select: none;
	pointer-events: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #2299DD;
	height: 0.15rem;
	position: absolute;
	right: 100%;
	top: 0;
	width: 100%;
	z-index: 2000;
}

* {
	padding: 0;
	margin: 0;
}

html {}

/* Header */

.header {
	height: 100vh;
	width: 5rem;
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
}

.header a {
	color: white;
	text-decoration: none;
}

.header img {
	width: 5rem;
	position: absolute;
	bottom: 0;
}

.header img:hover {
	cursor: pointer;
}

.header ul {
	color: white;
	list-style-type: none;
	width: 5rem;
	position: absolute;
	top: 0;
	left: 0;
}

.header li {
	width: 5rem;
	height: 3.5rem;
	font-size: 2rem;
	text-align: center;
	padding-top: 1.25rem;
	transition: all .2s ease-in-out;
}

.header li:hover {
	background-color: rgba(255, 255, 255, .2);
}

.header-dropdown {
	height: 0;
	width: 5rem;
	background-color: rgba(255, 255, 255, .2);
	position: absolute;
	bottom: 5rem;
	left: 0;
	overflow: hidden;
	transition: all ease-in-out .2s;
}

.header-dropdown ul {
	color: white;
	list-style-type: none;
	height: 10rem;
	width: 5rem;
	position: absolute;
	top: 0;
	left: 0;
}

.header-dropdown li {
	width: 5rem;
	height: 3.5rem;
	font-size: 2rem;
	text-align: center;
	padding-top: 1.25rem;
	transition: all .2s ease-in-out;
}

.header-dropdown li:hover {
	background-color: rgba(255, 255, 255, .2);
}

.header-dropdown a {
	color: white;
	text-decoration: none;
}

.active {
	background-color: rgba(50, 50, 50, .2);
}

/* Home */

.home-container {
	background-color: rgba(25, 25, 25, 1);
	width: 100vw;
	min-height: 100vh;
}
